h1 麻雀の対局を記録・シェアしよう
= link_to '今すぐはじめる', new_user_session_path, class: 'btn btn-primary mr-3'

p = link_to '雀れこ画像', new_user_session_path

p 対局点数の記録
p 打つ時の傾向を把握

p 対局の名場面を
p コメント・写真で記録

p 対局の結果は
p SNSを使ってシェア
